@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
*{
  outline: none;
}
@theme{
  --color-productBg: #2B7FFF;
  --color-sectionBg: #1C398E;

  --font-inconsolata: "Inconsolata", "mono";
  --font-roboto: "Roboto", "sans";
  --font-jura: "Jura", "serif";
}

.liItem{
  @apply text-gray-800 dark:text-gray-300 hover:text-blue-300 transition ease-in-out duration-200 transform hover:scale-105;
}
.productTitle{
  @apply font-bold text-sm md:text-lg text-black uppercase;
}