@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@custom-variant dark (&:where(.dark, .dark *));
* {
  outline: none;
}

@theme {
  --breakpoint-xs: 370;
  --text-ss: 10px;

  --font-inconsolata: "Inconsolata", "mono";
  --font-roboto: "Roboto", "sans";
  --font-jura: "Jura", "serif";
}

.liItem {
  @apply text-gray-800 dark:text-gray-300 hover:text-blue-300 transition ease-in-out duration-200 transform hover:scale-105;
}
.productTitle {
  @apply font-bold text-sm md:text-lg text-black uppercase;
}
